<launch>
  <arg name="laser_x" default="0.0"/>
  <arg name="laser_y" default="0.0"/>
  <arg name="laser_z" default="0.15"/>
  <arg name="laser_roll" default="3.1415926"/>
  <arg name="laser_pitch" default="0.0"/>
  <arg name="laser_yaw" default="0.0"/>
  <arg name="enable_teleop" default="false"/>

  <!-- Master bringup: base driver + odometry + TF -->
  <include file="$(find transbot_bringup)/launch/bringup.launch">
    <arg name="enable_teleop" value="$(arg enable_teleop)"/>
  </include>

  <!-- LiDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

  <!-- Static TF: laser is mounted 15cm above base_link -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_tf"
        args="$(arg laser_x) $(arg laser_y) $(arg laser_z) $(arg laser_roll) $(arg laser_pitch) $(arg laser_yaw) base_link laser 100"/>

  <!-- Pyroscope sensors: SHT40 + thermal + RealSense -->
  <include file="$(find pyroscope_sensors)/launch/sensors.launch"/>
</launch>
